@using David.BooksStore.Domain.Entities
@using System.Reflection
@using System
@model David.BooksStore.WebApp.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}


<div>
    <div class="container">
        @*<table class="table table-responsive">
            <caption>@Model.ToString()</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Description</th>
                </tr>
            </thead>

            @foreach (var product in Model.Products)
            {
                <tbody>
                    <tr>
                        <td>@product.Title</td>
                        <td>@product.Author.ToString()</td>
                        <td>@product.Price.ToString("c")</td>
                        <td>@product.CategoryId.ToString()</td>
                        <td>@product.Description.ToString()</td>
                    </tr>
                </tbody>
            }
        </table>*@
        <div>
            @foreach (var p in Model.Products)
            {
                @Html.Partial("ProductSummary", p)
            }
        </div>


        <div>
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, categoryId = Model.CurrentCategory }) )
        </div>
    </div>
</div>